<div class="loader">
	<div>

		<div class="center"></div>

		<div class="pattern">

			<div class="top">
				<div class="left"></div>
				<div class="angle-left">
						<div class="bar"></div>
				</div>
				<div class="middle"></div>
				<div class="angle-right">
					<div class="bar"></div>
				</div>
				<div class="right"></div>
			</div>

			<div class="bottom">
				<div class="left"></div>
				<div class="angle-left">
						<div class="bar"></div>
				</div>
				<div class="middle"></div>
				<div class="angle-right">
					<div class="bar"></div>
				</div>
				<div class="right"></div>

				<!-- <div class="enter enter-show">Enter</div> -->
			</div>

		</div>

		<div class="atom">
			<div>

				<div class="nucleus"></div>

				<div class="orbital">
					<div class="ellipse cyan">
				    <span class="moveX">
				       <div class="moveY"><span class="electron"></span></div>
				    </span>
					</div>
				</div>

				<div class="orbital">
					<div class="ellipse magenta">
				    <span class="moveX">
				       <div class="moveY"><span class="electron"></span></div>
				    </span>
					</div>
				</div>

				<div class="orbital">
					<div class="ellipse yellow">
				    <span class="moveX">
				       <div class="moveY"><span class="electron"></span></div>
				    </span>
					</div>
				</div>

			</div>
		</div>

	</div>
</div>

<header>

	<div class="atom">
		<div>

			<div class="nucleus"></div>

			<div class="orbital">
				<div class="ellipse cyan">
			    <span class="moveX">
			       <div class="moveY"><span class="electron"></span></div>
			    </span>
				</div>
			</div>

			<div class="orbital">
				<div class="ellipse magenta">
			    <span class="moveX">
			       <div class="moveY"><span class="electron"></span></div>
			    </span>
				</div>
			</div>

			<div class="orbital">
				<div class="ellipse yellow">
			    <span class="moveX">
			       <div class="moveY"><span class="electron"></span></div>
			    </span>
				</div>
			</div>

		</div>
	</div>

	<div class="main">

		<h1>Something-or-other Web Design</h1>
		<h3>Web design firm headquartered in Coeur d'Alene, Idaho.</h3>

		<span class="nav__button">
			<i class="licon-reorder"></i>
		</span>

		<nav class="navigation">

			<h3>Things</h3>
			<a href="">Home</a>
			<a href="">About</a>
			<a href="">What we do</a>
			<a href="">Our work</a>
			<a href="">Contact</a>
			
		</nav>

	</div>

</header>

<!-- <script src="jquery-2.1.1.js"></script> -->
<script src="atom.js"></script>