@-webkit-keyframes scale {
  0% { transform: scale(1); }
  100% { transform: scale(0.99); }
}

@-webkit-keyframes rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@-webkit-keyframes hide {
  0% { opacity: 0; }
  100% { opacity: 0; }
}

@-webkit-keyframes show {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes pulse {
  0% {
    background: #777;
    box-shadow: 0 0 0 #000;
  }
  25% {
    background: #999;
    box-shadow: 0 0 10px 2px #777;
  }
  50% {
    background: #777;
    box-shadow: 0 0 0 #000;
  }
  75% {
    background: #999;
    box-shadow: 0 0 10px 2px #777;
  }
  100% {
    background: #777;
    box-shadow: 0 0 0 #000;
  }
}

@-webkit-keyframes ellipse-cyan {
  0% { transform: rotateZ(90deg) rotateX(90deg); }
  100% { transform: rotateZ(90deg) rotateX(0deg); }
}

@-webkit-keyframes ellipse-magenta {
  0% { transform: rotateZ(210deg) rotateX(90deg); }
  100% { transform: rotateZ(210deg) rotateX(0deg); }
}

@-webkit-keyframes ellipse-yellow {
  0% { transform: rotateZ(330deg) rotateX(90deg); }
  100% { transform: rotateZ(330deg) rotateX(0deg); }
}

@-webkit-keyframes mX {
  0% { -webkit-transform: translateX(0px); }
  50% { -webkit-transform: translateX(200%); }
  100% { -webkit-transform: translateX(0px); }
}

@-webkit-keyframes mO {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@-webkit-keyframes button-hop {
  0% { bottom: 100%; }
  80% { bottom: 60%; }
  100% { bottom: 65%; }
}

@-webkit-keyframes slideUp {
  0% { bottom: 50%; }
  100% { bottom: 100%; }
}

@-webkit-keyframes slideDown {
  0% { bottom: 0%; }
  100% { bottom: -50%; }
}

@-webkit-keyframes l-r-width {
  0% { width: 0; }
  100% { width: calc(50% - 149px); }
}

@-webkit-keyframes al-translate {
  0% { transform: rotate(300deg) translateX(0); }
  100% { transform: rotate(300deg) translateX(137px); }
}

@-webkit-keyframes middle-width {
  0% { width: 0; }
  100% { width: 180px; }
}

@-webkit-keyframes ar-translate {
  0% { transform: rotate(-120deg) translateX(0); }
  100% { transform: rotate(-120deg) translateX(-136px); }
}

@-webkit-keyframes circle-zoom {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
  }
  80% {
    width: 240px;
    height: 240px;
    opacity: 1;
  }
  100% {
    width: 200px;
    height: 200px;
    opacity: 1;
  }
}

@-webkit-keyframes colors {
  0% { background: #0ff; }
  33% { background: #f0f; }
  67% { background: #ff0; }
  100% { background: #0ff; }
}